<p id="notice"><%= notice %></p>

<p>
  <b>Ano lectivo:</b>
  <%= @ano_lectivo.ano_lectivo %>
</p>


<%= link_to 'Edit', edit_ano_lectivo_path(@ano_lectivo) %> |
<%= link_to 'Back', ano_lectivos_path %>
