
<%= form_tag({:controller => 'sessions'}, {:class => 'form-signin'}) do %>
  <h2 class="form-signin-heading">Please log in</h2>
   
    <%= text_field_tag :username, params[:username], :class => "form-control", :placeholder => "username", :autofocus => true %>
    <%= password_field_tag :password, params[:password], :class => "form-control" %>
  
  	<%= submit_tag "Log in", :class => 'btn btn-lg btn-primary btn-block' %>
<% end %>
