<h2>Listar Cursos</h2>

<table class="table table-condensed">
  <tr>
    <th>Id</th>
    <th>Designação</th>
    <th></th>
  </tr>

<% @cursos.each do |curso| %>
  <tr>
    <td><%= curso.id %></td>
    <td><%= curso.designacao %></td>
    <td><%= link_to 'Eliminar', curso, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Criar Curso', new_curso_path %>
