<div id="footer">
	<div class="container">
		<p class="text-muted credit"><small>&copy; Sistema de Gestão de Sócios <a href="http://aeiscte-iul.pt">AEISCTE-IUL</a> - todos os direitos reservados.</small>
	</div>
</div>